<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Register - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div>

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form [formGroup]="registerform">
                    <div class="col-12">
                      <label class="form-label" for="form3Example1cg">Your Name</label>
                      <input type="text" formControlName="user_name" class="form-control" id="yourName"
                        placeholder="Enter Your Full Name" />
                      <div style="color:red"
                        *ngIf="registerform.get('user_name').invalid && (registerform.get('user_name').dirty || registerform.get('user_name').touched)">
                        Please enter a valid User.
                      </div>
                    </div>

                    <div class="col-12">
                      <label class="form-label" for="form3Example3cg">Your Email</label>
                      <input type="email" id="yourEmail" formControlName="user_email" class="form-control "
                        placeholder="Enter Email ID" />
                      <div style="color:red"
                        *ngIf="registerform.get('user_email').invalid && (registerform.get('user_email').dirty || registerform.get('user_email').touched)">
                        Please enter a valid Email adddress!.
                      </div>
                    </div>

                    <br>

                    <div class="col-12">
                      <label class="form-label" for="form3Example3cg">Gender</label>
                      <select formControlName="user_gender">
                        <option *ngFor="let selector of selectGender">{{selector}}</option>
                      </select>
                      &nbsp;


                      <label class="form-label" for="form3Example3cg">Role</label>
                      <select formControlName="role">
                        <option *ngFor="let selector of userRole">{{selector}}</option>
                      </select>
                    </div>
                    <br>

                    <div class="col-12">
                      <label class="form-label" for="form3Example3cg">Location</label>
                      <select formControlName="user_location">
                        <option *ngFor="let selector of cityName">{{selector}}</option>
                      </select>
                    </div>

                    <br>
                    <div class="col-12">
                      <label class="form-label" for="form3Example3cg">Your Profile Image</label>
                      <input type="file" id="profile Picture" formControlName="user_profile"
                        (change)="readURL($event);" />
                      <img id="blah" [src]="file" alt="" style="height: 150px; width: 150px;"
                        class="form-control form-control-lg" />
                      <div style="color:red"
                        *ngIf="registerform.get('user_profile').invalid && (registerform.get('user_profile').dirty || registerform.get('user_profile').touched)">
                        Profile Picture is required.
                      </div>
                      <br>

                    </div>
                    <div class="col-12">
                      <label class="form-label" for="form3Example4cg">Password</label>
                      <input type="password" id="yourPassword" formControlName="user_password" class="form-control "
                        placeholder="Create Your Password" />
                      <div style="color:red"
                        *ngIf="registerform.get('user_password').invalid && (registerform.get('user_password').dirty || registerform.get('user_password').touched)">
                        Please enter your password!
                      </div>

                    </div>
                    <div class="col-12">
                      <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                      <input type="password" id="yourConfirmPassword" formControlName="confirm_password"
                        class="form-control" placeholder="confirm_password " />
                      <div style="color:red"
                        *ngIf="registerform.get('confirm_password').invalid && (registerform.get('confirm_password').dirty || registerform.get('confirm_password').touched)">
                        Confirm Password is required.
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and
                            conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" (click)="register()">Create Account</button>
                    </div>
                    <!-- <div class="d-flex justify-content-center">
                      <button type="button" 
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                        (click)="register()">Register</button>
                    </div> -->

                    <div class="col-12">
                      <p class="text-center text-muted mt-3 mb-0">Already have an account?
                        <a href="/login">

                          <i class="bi bi-key"></i>
                          <span>Login Here</span>
                        </a>
                      </p>
                    </div>

                  </form>

                </div>
              </div>


            </div>
          </div>
        </div>

      </section>

    </div>
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="assets/js/main.js"></script>

</body>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

</html>