

<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <form [formGroup]="registerform" class="col-xl-6">
              <div class="card-body p-md-8 text-black">
                <h3 class="mb-5 text-uppercase">Registration Form</h3>

                <div class="row">
                  <div class="form-outline col-md-8 mb-4">
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example1cg" formControlName="user_name"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Your Name</label>
                    <div style="color:red"
                      *ngIf="registerform.get('user_name').invalid && (registerform.get('user_name').dirty || registerform.get('user_name').touched)">
                      User Name is required.
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" id="form3Example3cg" formControlName="user_email"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                    <div style="color:red"
                      *ngIf="registerform.get('user_email').invalid && (registerform.get('user_email').dirty || registerform.get('user_email').touched)">
                      Password is required.
                    </div>
                  </div>


                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example3cg" formControlName="user_gender"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Gender</label>
                    <div style="color:red"
                      *ngIf="registerform.get('user_gender').invalid && (registerform.get('user_gender').dirty || registerform.get('user_gender').touched)">
                      Gender is required.
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example3cg" formControlName="user_location"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Location</label>
                    <div style="color:red"
                      *ngIf="registerform.get('user_location').invalid && (registerform.get('user_location').dirty || registerform.get('user_location').touched)">
                      Location is required.
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="file" id="form3Example3cg" formControlName="user_profile" (change)="upload($event)"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Your Profile Image</label>
                    <div style="color:red"
                      *ngIf="registerform.get('user_profile').invalid && (registerform.get('user_profile').dirty || registerform.get('user_profile').touched)">
                      Profile Picture is required.
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cg" formControlName="user_password"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cg">Password</label>
                    <div style="color:red"
                      *ngIf="registerform.get('user_password').invalid && (registerform.get('user_password').dirty || registerform.get('user_password').touched)">
                      Password is required.
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cdg" formControlName="confirm_password"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                    <div style="color:red"
                      *ngIf="registerform.get('confirm_password').invalid && (registerform.get('confirm_password').dirty || registerform.get('confirm_password').touched)">
                      Confirm Password is required.
                    </div>
                  </div>
                </div>

              </div>

              <div class="d-flex justify-content-center">
                <button type="button" [disabled]="registerform.invalid"
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                  (click)="register()">Register</button>
              </div>

              <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                  class="fw-bold text-body"><u>Login here</u></a></p>

          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>