.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.header {
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.904);
  color: rgb(245, 245, 245);
  font-size: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(31, 29, 29);
  color: white;
  text-align: center;
}