<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Login - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Change Password</h5>
                    <p class="text-center small">Enter OTP and Set Your New Password here</p>
                  </div>

                  <form [formGroup]="otpform" novalidate>

                    <div class="col-12">
                      <label class="form-label" for="form3Example3cg">OTP</label>
                      <input type="number" id="yourOTP" formControlName="otp" class="form-control"
                        placeholder="Enter OTP Here" />
                      <div style="color:red"
                        *ngIf="otpform.get('otp').invalid && (otpform.get('otp').dirty || otpform.get('otp').touched)">
                        OTP is required.
                      </div>

                    </div>

                    <div class="col-12">
                      <label class="form-label" for="form3Example3cg">Your New Password</label>
                      <input type="password" id="yourPassword" formControlName="password" class="form-control"
                        placeholder="Enter New Password" />
                      <div style="color:red"
                        *ngIf="otpform.get('password').invalid && (otpform.get('password').dirty || otpform.get('password').touched)">
                        Password is required.
                      </div>
                    </div>

                    <div class="col-12">
                      <label class="form-label" for="form3Example3cg">Re Enter Your Password</label>
                      <input type="password" id="yourPassword" formControlName="reConfirm" class="form-control"
                        placeholder="Confirm Password" />
                      <div style="color:red"
                        *ngIf="otpform.get('reConfirm').invalid && (otpform.get('reConfirm').dirty || otpform.get('reConfirm').touched)">
                        ReConfirm is required.
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div>
                    <br>
                    <div class="col-12">

                      <button class="btn btn-primary w-100" [disabled]="otpform.invalid" (click)="otpverification()"
                        type="submit">Update</button>
                    </div>



                  </form>

                </div>
              </div>


            </div>
          </div>
        </div>

      </section>

    </div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
</body>

</html>


<!-- 
    <div class="header">
      <h1>OTP Validation Form</h1>
     
    </div>
    <section class="h-100 bg-dark">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card card-registration my-4">
              <div class="row g-0">
                <div class="col-xl-6 d-none d-xl-block">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                    alt="Sample photo" class="img-fluid"
                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                </div>
                <form [formGroup]="otpform" class="col-xl-6">
    
                  <div class="card-body p-md-6 text-black">
                   
    
                    <div class="form-outline col-md-8 mb-4">
                      <input type="number" id="form3Example3cg" formControlName="otp" class="form-control form-control-lg" placeholder="Enter OTP Here" />
                      <label class="form-label" for="form3Example3cg">OTP</label>
                      <div style="color:red" *ngIf="otpform.get('otp').invalid && (otpform.get('otp').dirty || otpform.get('otp').touched)">
                        OTP is required.
                      </div>
                    </div>
  
                    <div class="form-outline col-md-8 mb-4">
                      <input type="password" id="form3Example3cg" formControlName="password" class="form-control form-control-lg" placeholder="Enter New Password"/>
                      <label class="form-label" for="form3Example3cg">Your New Password</label>
                      <div style="color:red" *ngIf="otpform.get('password').invalid && (otpform.get('password').dirty || otpform.get('password').touched)">
                        Password is required.
                      </div>
                    </div>
  
                    <div class="form-outline col-md-8 mb-4">
                      <input type="password" id="form3Example3cg" formControlName="reConfirm" class="form-control form-control-lg" placeholder="Confirm Password" />
                      <label class="form-label" for="form3Example3cg">Re Enter Your Password</label>
                      <div style="color:red" *ngIf="otpform.get('reConfirm').invalid && (otpform.get('reConfirm').dirty || otpform.get('reConfirm').touched)">
                        ReConfirm is required.
                      </div>
                    </div>

                  
                    
      
                      <div class="d-flex justify-content-center col-md-5">
                        <button type="button" [disabled]="otpform.invalid" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="otpverification()">Send OTP</button>
                      </div>
      
                  </div>
                  
    
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="footer">
      <div id="lab_social_icon_footer">
        <div class="text-center center-block">
          <br>
          <br>
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    
    </div> -->