<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Components / Cards - NiceAdmin Bootstrap Template</title>

</head>

<header class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">NiceAdmin</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>
  
  <div class="search-bar">
    <form class="form-inline" id="searchForm">
      <div class="form-group">
        <input class="form-control mr-sm-2" type="search" placeholder="search..." id="speciesNameSearch"
          name="speciesNameSearch" (keyup.enter)="getSearchResult()" [(ngModel)]="speciesName">
      </div>
    </form>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
          <tr *ngFor="let obj of userData">
          <img [src]=" obj.user_profilePic? image+obj.user_profilePic: 'uploads'" alt="Profile"
            class="rounded-circle">
            &nbsp;
          <span class="d-none d-md-block dropdown-toggle ps-2">{{obj.user_name}}</span>
        </tr>
        </a>
    </ul>
  </nav>
</header>
<body>
  
  <main id="main" class="main">

    <section class="section profile">
      <div class="row">

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">

              <ul class="nav nav-tabs nav-tabs-bordered">

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">User Posts</h5>
                  <div class="list-group">
                    <tr
                      *ngFor="let obj of data | paginate: { itemsPerPage: limit, currentPage: pageNum ,totalItems: totalRecords}">
                      
                          <h5 class="card-title text-center pb-0 fs-4">{{obj.Title}}</h5>

                      <li style="list-style-type: none" *ngFor="let data of obj.WhoCreated">
                        <div>
                          <h6>Created By--
                            <small class="mb-1" style="color: black;">{{data.user_name}}</small>
                          </h6>
                        </div>

                        <div>
                          <h6>Created On--
                            <small style="color: black;">{{data.createdAt | date:"dd/MM/yy" }}</small>
                          </h6>
                        </div>
                      </li>
                      <div class="d-flex w-100 justify-content-left">
                        <img [src]=" obj.Picture? image+obj.Picture: 'uploads'" alt="Picture"
                          style=" width: 30%; height: 30%;">
                        &nbsp;

                        <p style="margin-left:20%">
                          <li class="mb-1" style="color: black;">{{obj.Blog}}</li>
                        </p>

                      </div>
                      {{obj.Like}}<a (click)="likepost(obj._id)"><i class="bi bi-suit-heart-fill"
                          style=" font-size:15px; color: red; cursor: pointer;"></i></a> &nbsp;

                      {{obj.Comment}}<a href="layout/commentpost/{{obj._id}}"><i class="bi bi-chat-left-text"
                          style="font-size: 15px;"></i></a> &nbsp;
                          
                          <a *ngIf="isAdmin()" (click)="deletePost(obj._id)"><i class="bi bi-trash-fill"
                            style="color: red; cursor: pointer;"></i></a>
                    </tr>

                  </div>
                  <pagination-controls (pageChange)="onPageChange($event)"> </pagination-controls>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>

  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <script src="assets/js/main.js"></script>

</body>

</html>