<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Users / Profile - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

</head>

<body>

  <!-- ======= Header ======= -->
  
  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Post Form</h1>
     
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-xl-6">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-right">
              <div *ngFor="let j of postList;">
            
                <p>{{j.Blog}}</p>
                <img [src]=" j.Picture? image+j.Picture: 'uploads'" alt="Avatar" style="width:90%">
              </div>

              <label for="inputText" class="col-sm-10 col-form-label" style="color: black;">Message </label>
              <form [formGroup]="commentform">
                <div class="col-sm-10">
                  <textarea rows="5" formControlName="comment" placeholder="Leave A Comment" class="form-control"
                    style="height: 2cm;"></textarea>
                </div>
                <!-- <div style="color:red" *ngIf="commentform.get('Blog').invalid && (commentform.get('Blog').dirty
               || commentform.get('Blog').touched)">
                  Comment is required.
                </div> -->
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <button type="button" [disabled]="commentform.invalid" class="btn btn-primary"
                      (click)="commentPost()">Comment</button>
                  </div>

                </div>
              </form>

            </div>
          </div>

        </div>
        <!--showing all comment start-->
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body pt-3">


              <div class="tab-content pt-2">


                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">All Comments</h5>
                  <div class="list-group">

                    <a href="#" class="list-group-item list-group-item-action">
                      <tr *ngFor="let data of commentList">
                        <div class="d-flex w-100 justify-content-between">
                          <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/yTFUilP.jpg"
                            alt="" class="rounded-circle" width="40" height="40">

                          <h5 class="mb-1">{{data.Comment}} </h5>
                          
                          <small >{{data.UserId.user_name}} </small>&nbsp;
                          <small class="text-muted">{{data.UserId.createdAt}} </small>  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
                          <a (click)="deleteComment(data._id)"><i class="bi bi-trash-fill" style="color: red; cursor: pointer;"></i></a>

                          </div>


                        </div>
                        
                      </tr>
                    </a>

                  </div>
                  

                </div>


              </div><!-- End Bordered Tabs -->

            </div>
          </div>
        </div>
        <!--showing all End-->
      </div>

    </section>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>

  </main>

</body>

</html>

